section.promo{
    background: url(../img/bg1.jpg) center (center/cover) no-repeat;
    min-height: 643px;
    padding-top: 15px;
    padding-bottom: 93px;
    .container{
          

        @import '../block/header';
        .promo__wrapper{
                display: flex;
                flex-direction: column;
                place-items: flex-end;//новое свойство
                margin-top: 50px;
                
            .promo__header{
                color: #ffffff;
                font-size: 42px;
                font-weight: 700;
                -webkit-text-align: right;
                -ms-text-align: left;
                text-transform: uppercase;
                span{
                    font-size: 24px;
                    font-weight: 500;
                }
            }
            .promo__icons{
                width: 50%;
                display: flex;
                justify-content: space-between;
                margin-top: 66px;
                margin-bottom: 68px;
                .promo__icon{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p{
                        margin-top: 20px;
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 500;
                        text-align: center;    
                    }
                }
            }
            @media(max-width:575px){
                
                    .promo__header{
                        font-size: 36px;
                        text-align: center;
                        justify-self: center;
                        span{
                            font-size: 24px;
                        }
                    }
                        
                    .promo__icons{
                        width: 100%;
                     }
            }
            .promo__link{
                color: #ffffff;
                font-size: 16px;
                font-weight: 500;
                margin-top: 18px;
                span{
                    text-decoration: underline;
                }
            }
        }
    }
    
}
@media(max-width: 575px){
 section.promo{
    padding-bottom: 30px;
 }   
.promo .container {
            
            .promo__wrapper{
                margin-top: 147px;
            }
        }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {//Только для IE
    section.promo .promo__wrapper{
        padding-left: 424px;
        .promo__icons{
            padding-left: 39px;
            .promo__icon{
                margin: 0 38px;
            }
        }
        button {
            margin-left: 211px;
        }
        a.promo__link{
            margin-left: 313px;
        }
    }
 }